.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.skillCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Adjust this value as needed */
  margin-top: 20px;
}

.skillList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the space between skills */
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  padding: 0 10px;
}

.arrowButton:hover {
  color: var(--btn-color);
}

@media (width >= 800px) {
  .skillList {
    gap: 30px;
  }
}